<form class="ui form">
    <div class="field">
        <label>Username</label>
        <input name="first-name" placeholder="Username" type="text">
    </div>
    <div class="field">
        <label>Age</label>
        <input name="age" placeholder="Age" type="text">
    </div>
    <div class="field">
        <label>E-mail</label>
        <input name="email" placeholder="E-mail" type="email">
    </div>
    <div class="field">
        <div class="ui checkbox">
            <label>Employed</label>
            <input class="hidden" tabindex="0" type="checkbox">
        </div>
    </div>
</form>
<div class="ui bulleted list">
    <a ng-repeat="person in people" ng-click="goContact($index)" class="item">{{person.name}}</a>
</div>