<!--

###Задача 2
Создайте приложение с интерфейсом показанном в файле template.png. Файл находится в папке Task. При этом реализуйте возможность сохранять данные введенные пользователем на серверной стороне. Для реализации серверной стороны используйте deployed. Используйте для взаимодействия с сервером сервис $http.

-->

<!DOCTYPE html>
<html ng-app="toDo">

<head>
    <title>HomeWork #2</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.2/semantic.min.css">
    <script>
        // Модель
        var model = {
            do: [{
                    name: "Купить молоко",
                    description: "Сходить на рынок и купить молока",
                    date: "2/18/2015",
                    completed: "Yes"
                },
                {
                    name: "HTML, CSS",
                    description: "Выучить",
                    date: "4/18/2015",
                    completed: "No"
                }]
        };

        var toDo = angular.module("toDo", []);

        toDo.factory('sendFormData', function () {
            return function ($http, data) {
                var json = angular.toJson(data);
                $http({
                    method: 'POST',
                    url: 'mysite.com',
                    data: json
                }).then(
                    function (response) {
                        alert('Success: ' + response.statusText);
                    },
                    function (response) {
                        alert('Error: ' + response.statusText);
                    }
                );
                return json;
            };
        });


        toDo.controller("ToDoCtrl", ['$scope', '$http', 'sendFormData', function ($scope, $http, sendFormData) {

            $scope.data = model;

            $scope.addNew = function () {

                $scope.doPassed = $scope.doPassed ? "Yes" : "No";

                $scope.data.do.push({
                    name: $scope.doName,
                    description: $scope.doDescription,
                    date: $scope.doDate,
                    completed: $scope.doPassed

                });

                $scope.dataSended = sendFormData($http, $scope.data.do[$scope.data.do.length - 1]);

                $scope.doPassed = false;
            }



        }])
    </script>
</head>

<body ng-controller="ToDoCtrl">
    <div class="ui container">
        <h1>HomeWork #2</h1>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in data.do">
                    <td>{{d.name}}</td>
                    <td>{{d.description}}</td>
                    <td>{{d.date}}</td>
                    <td>{{d.completed}}</td>

                </tr>
            </tbody>
        </table>
        <form class="ui form">
            <div class="field">
                <label>Name</label>
                <input ng-model="doName" name="name" placeholder="Name" type="text">
            </div>
            <div class="field">
                <label>Date</label>
                <input ng-model="doDate" name="date" placeholder="18/08/2016" type="text">
            </div>
            <div class="field">
                <label>Description</label>
                <textarea ng-model="doDescription"></textarea>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input ng-model="doPassed" name="example" type="checkbox">
                    <label>Сompleted</label>
                </div>
            </div>
            <div class="ui positive message">
                <div class="header">
                    Result:
                </div>
                <p>{{dataSended}}</p>
            </div>
            <button ng-click="addNew()" class="ui button" type="submit">Add</button>
        </form>
    </div>
</body>

</html>
